body {
    font-family: 'Helvetica' sans-serif;
    font-size: 24px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.hero {
  background-image: url("./Images/backgoundphoto.jpg");
  margin: 0;
  padding: 0;
  background-size: cover;
  border: 1px solid white;
}
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 7px -5px rgba(0,0,0,0.75);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
.navBar a {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    color: black;
  }

  .navBar a:hover {
    text-decoration: underline;
  }

  .navBar a:visited {
    color: black;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: 0;
  }
  .box-dark {
    background-color: #323026;
    color: white;
  }

  #header {
   margin: 120px auto;
   width: 70%;
   text-align: center;
   border-radius: 10px;
  }

  #header p {
    font-size: 20px;
  }

  .centerHeader {
    text-align: center;
  }
  .banner {
    display: flex;
    justify-content: space-around;
    background-color: #0f2a1e;
    height: 500px;
    padding: 50px;
    margin: 100px auto;
    width: 70%;
    border-radius: 10px;
    transition: all .2s linear;
  }

  .bannerLarge{
    width: 80%;
    height: 550px;
  }

  .bannerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    width: 500px;
  }
  .bannerText *{
    margin: 0;
  }

  .buttonState1 {
    background-color: #98c4c1;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border: none;
    width: 125px;

    transition: all .2s linear;
  }

  .buttonState1:hover{
    background-color: #649b96;
    transform: translateY(-5px);
  }

  .buttonState1:active{
    transform: translateY(-2px);
    background-color: #649b96;
    box-shadow: gray 0 0 1px 2px;
  }

  .bannerDecorations {
    display: flex;
    justify-content: space-between;
  }
  .bannerImage {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    width: 90%;
    top: 50px;
    left: 50px;
    z-index: 1;
  }

  /* .bannerDecorBox {
    background-color: #0f4352;
    height: 300px;
    width: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    bottom: 50px;
    right: 50px;
  } */

  .skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }
  .skillsBox {
    background-color: #6f963c76;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    padding: 15px
  }

  .contactMeContainer {
    background-color: #0f4352;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 60px auto;
    width: 70%;
  }

  .contactLinks {
    display: flex;
    justify-content: space-around;
  }

  .footerNav {
    margin: 0 auto;
  }
  .footerNav a{
    color: white;
  }

  .mobileOnly {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    .bannerImage {
      border-radius: 10px;
      position: relative;
      width: 90%;
      top: 0;
      left: 0;
      z-index: 1;
      /* margin: 15px; */
    }
    .desktopOnly {
      display: none;
    }
    .mobileOnly {
      display: block;
    }
    .banner {
      height: auto;
    }
    .bannerText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      color: white;
      gap: 50px;
      width: 500px;
    }
  }